{% extends 'base.html' %}
{% load static %}
{% block friendchaising %}

<div class="events">
	<div class="block event">
		<a href="#">
			<div class="block">
				Купить карту <div class="new_line_word">онлайн</div>	
			</div>
			<div class="block">
				<img src="{% static 'fitnesstaste/money.png' %}" alt="money" class="event_icon"> 
			</div>
		</a>
	</div>
	<div class="block event">
		<a href="#">
			<div class="block">
				Виды клубных <div class="new_line_word">карт</div>	
			</div>
			<div class="block">
				<img src="{% static 'fitnesstaste/news.png' %}" alt="news" class="event_icon">
			</div> 
		</a>
	</div>
	<div class="block event">
		<a href="#">
			<div class="block">
				Корпоративные <div class="new_line_word">продажи</div>	
			</div>
			<div class="block">
	    		<img src="{% static 'fitnesstaste/person.png' %}" alt="person" class="event_icon"> 
	    	</div>
	    </a>
	</div>
</div>

	<div class="friendchaising_info">
		<div class="friendchaising_left_block">
			<button id="club_take_card_btn">ЗАКАЗАТЬ КАРТУ</button>
			<ul>
				<li><a href="">История</a></li>
				<li><a href="">Миссия и ценности</a></li>
				<li><a href="">Клубные карты</a></li>
				<li><a href="">Корпоративные продажи</a></li>
				<li><a href="">Пресс-центр</a></li>
				<li><a href="">Карьера</a></li>
				<li><a href="">Аренда</a></li>
				<li><a href="">Тендеры</a></li>
				<li><a href="">Партнеры</a></li>
				<li><a href="">Контакты</a></li>
				<li><a href="">Privilage club</a></li>
			</ul>
		</div>
		<div class="friendchaising_right_block">
			<h1>ФРАНЧАЙЗИНГ</h1>
			<div>FitnessTaste  – является одним из самых крупных фитнес-операторов России.</div>
			<p style="padding: 10px;">
			Наша бизнес-модель показала себя, как самая успешная на рынке фитнес-услуг, позволила без потерь пережить кризис 2008 года, и увеличить количество клубов в разы! Сегодня сеть собственных и франчайзинговых клубов  X-Fit  насчитывает более 60 фитнес-клубов в России и за рубежом, свыше 350 тысяч постоянных клиентов и более 25 лет успешной работы на рынке фитнес-индустрии.
			</p>
			<a href="{% url 'about_friendchaising' %}">Подробнее о франшизе FitnessTaste</a>
			<p>
				<b>Преимущества франшизы FitnessTaste</b>
			</p>
			<ul>
				<b>
					<li>Консалтинговая Поддержка></li>
					<li>Сетевые скидки у партнеров</li>
					<li>Лицензированные товары для реализации</li>
					<li>Проект будущего фитнес-клуба</li>
					<li>Обучение</li>
					<li>Методити тренировок Smart Fitness</li>
					<li>Маркетинговая поддержка</li>
					<li>Интернет-сайт</li>
				</b>
			</ul>

			<div class="friendchaising_line_block">
				<div class="friendchaising_line_block">
					<div class="friendchaising_vert_block">
						<h4>Формат клубов Премиум и Бизнес+ сегмента. </h4>
						<div>
							В клубе представлены высококлассные тренажерные залы с новейшим оборудованием; бассейны с морской водой; залы групповых программ, кардио-зоны и зоны для единоборств; салоны красоты и SPA, сауны и парные; фитнес-кафе и бары с самым разнообразным меню.
						</div>
						<h4>Общие требования к помещению:</h4>
						<ul>
							<li>площадь помещения от 2000 кв.м.;</li>
							<li>высота потолков от 4 метров;</li>
							<li>наличие бассейна или возможность его конструирования;</li>
							<li>наличие или возможность организации парковки;</li>
							<li>выгодное месторасположение.</li>
						</ul>
					</div>
				</div>
				<div class="friendchaising_line_block">
					<div class="friendchaising_vert_block"">
						<h4>Клубы демократичного формата под брендом Fit-Studio</h4>
						<div>
							Преимущества: удобное расположение, эффективные и безопасные тренировки, самое современное оснащение, низкие цены и индивидуальный подход к каждому клиенту. В клубе представлены: тренажерный зал, зал для групповых программ, сауны, SPA, массажные кабинеты.
						</div>
						<h4>Общие требования к помещению:</h4>
						<ul>
							<li>минимальная площадь помещения 220 кв.м.;</li>
							<li>наличие санузла или возможность его установки;</li>
							<li>наличие душевой или возможность их установки;</li>
							<li>cвободный доступ.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}